@(uiUser: model.UiUser)

@assets = {
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/core-collapse/core-collapse.html")">
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/core-icons/core-icons.html")">
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-fab/paper-fab.html")">


@views.html.polymer.schoolsearch()
    @views.html.polymer.login()
    @views.html.polymer.list()
    @views.html.polymer.submitConfig()

    <style>
        #fabBack {
            background-color: #FF9800;
            display: none;
        }
    </style>
}

@menu = {

}


@indexAuth("Add a Config - Auth", assets, menu, uiUser, 2){
    <div class="cardhead">
        Add Config
    </div>

    <core-collapse id="collapseSubmit" opened="false">
        <submit-config id="submitconfig" />
    </core-collapse>

    <core-collapse id="collapseLists" opened="false">
        <master-list id="masterlist" />
    </core-collapse>

    <core-collapse id="collapseLogin" opened="false">
        <school-login id="schoollogin" />
    </core-collapse>

    <core-collapse id="collapseSchoolSearch" opened="true">
        <school-search id="schoolsearch" />
    </core-collapse>

    <div flex horizontal layout>
        <paper-fab id="fabBack" icon="arrow-back" />
    </div>

    <script type="text/javascript">
        var schoolSearch = true;
        var loginOpened = false;
        var listOpened = false;
        var submitOpened = false;

        var schoolSchoolSearchC = document.querySelector("#collapseSchoolSearch");
        var schoolLoginC = document.querySelector("#collapseLogin");
        var schoolListsC = document.querySelector("#collapseLists");
        var schoolSubmitC = document.querySelector("#collapseSubmit");

        var fabBack = document.querySelector("#fabBack");

        fabBack.addEventListener("tap", function(){
            if(schoolSearch){
                console.log("school search open")
                //ignore
            }else if(loginOpened){
                console.log("login open")
                loginOpened = false;
                schoolSearch = true;
                schoolLoginC.toggle();
                schoolSchoolSearchC.toggle();
                fabBack.style.display = "none";

            }else if(listOpened){
                console.log("list open")
                loginOpened = true;
                listOpened = false;
                schoolListsC.toggle();
                schoolLoginC.toggle();

            }else if(submitOpened){
                console.log("submit open")
                submitOpened = false;
                listOpened = true;
                schoolListsC.toggle();
                schoolSubmitC.toggle();
            }
        });

        document.querySelector('#schoolsearch').addEventListener('schoolSelected', function(school, e, f) {
            document.querySelector('#schoollogin').school = JSON.parse(school.detail);
            if(!loginOpened){
                schoolLoginC.toggle();
                schoolSchoolSearchC.toggle();
                loginOpened = true;
                schoolSearch = false;
                fabBack.style.display = "flex";
            }
        });

        document.querySelector('#schoollogin').addEventListener("login", function(data, e, f){
            document.querySelector("#masterlist").loadData(data.detail);
            if(!listOpened){
                schoolListsC.toggle();
                schoolLoginC.toggle();
                listOpened = true;
                loginOpened = false;
            }
        });

        document.querySelector("#masterlist" ).addEventListener("element-selected", function(element, e, f){
            document.querySelector("#submitconfig").setData(element.detail);
            if(!submitOpened){
                schoolSubmitC.toggle();
                submitOpened = true;
                schoolListsC.toggle();
                listOpened = false;
            }
        });
    </script>
}
