@()
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-tabs/paper-tabs.html")" >
<link rel="import" href="@routes.Assets.at("polymer/bower_components/core-animated-pages/core-animated-pages.html")">

<link rel="import" href="@routes.Assets.at("polymer/bower_components/polymer/polymer.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-input/paper-input-decorator.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-button/paper-button.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/core-ajax/core-ajax.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-shadow/paper-shadow.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-item/paper-item.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-fab/paper-fab.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/core-icons/core-icons.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-spinner/paper-spinner.html")">

<polymer-element name="master-list" constructor="MasterList" attribute="data">
    <template>
        <style>
        :host {
            display: block;
            padding: 8px;
            /*position: relative;*/
            /*background-color: #E5E5E5;*/
        }

        .card{
            margin: 8px;
            font-size: 14px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 8px;
            padding-top: 8px;
            background: #fff;
            line-height: 1.5;
        }

        .cardhead{
            font-size: 24px;
            color: #FF9800;
            margin-bottom: 8px;
        }
        .list{
             max-height: 300px;
             overflow : auto ;
        }
        paper-tabs::shadow #selectionBar {
            background-color: #FF9800;
        }

        paper-tabs paper-tab::shadow #ink {
            color: #FF9800;
        }
        #paper_fab {
            background-color: rgb(253, 167, 41);
            display: none;
        }

        </style>
        <paper-shadow class="card" z="1" is="auto-binding" style="">

            <div horizontal layout center center-justified fit id="spinner">
                <paper-spinner active></paper-spinner>
            </div>

            <div horizontal layout center center-justified fit id="error_access" style="display: none;">
                <span class="cardhead">No Access</span>
            </div>

            <paper-tabs selected="{{selected}}" selectedindex="0">
                <template repeat="{{element in data}}">
                    <template if="{{element.elements}}">
                        <paper-tab inline flex center-center horizontal layout>{{element.elementTypeLabel | titleToString}}</paper-tab>
                    </template>
                </template>
            </paper-tabs>

            <core-animated-pages selected="{{selected}}" selectedindex="0" notap style="overflow:auto; height:300px;">
                <template repeat="{{e2 in data}}">
                    <template if="{{e2.elements}}">
                        <section>
                            <template repeat="{{e in e2.elements}}">
                                <paper-item on-tap="{{elementSelected}}" data-elementtype="{{stringify(e2.elementType)}}" data-element="{{stringify(e)}}">{{e.name}} - {{e.longName}}</paper-item>
                            </template>
                        </section>
                    </template>
                </template>
            </core-animated-pages>

            <div flex horizontal end-justified layout end>
                <paper-fab id="paper_fab" icon="account-circle" on-tap={{personalTimetableSelected}} />
            </div>


        </paper-shadow>

        <core-ajax
            id="loadLists"
            url=""
            method="post"
            handleAs="json"
            on-core-response="{{handleListResponse}}"></core-ajax>

        <core-ajax
            id="loadUserData"
            url=""
            method="post"
            handleAs="json"
            on-core-response="{{handleUserDataResponse}}"></core-ajax>

    </template>

    <script>
        Polymer("master-list", {
            selected: 0,
            data: [],
            userData: null,
            noAccess: "No Access",
            loginSet: null,

            loadData: function(loginSet){
                this.data = [];
                this.loginSet = loginSet;
                var urlLists = "/js/loadLists?";
                var urlUserData = "/js/userData?";

                var user = "se=" + encodeURIComponent(loginSet.server) +
                    "&sc=" + encodeURIComponent(loginSet.loginName) +
                    "&u=" + encodeURIComponent(loginSet.user) +
                    "&p=" + encodeURIComponent(loginSet.password);

                this.$.loadLists.url = urlLists + user;
                this.$.loadUserData.url = urlUserData + user;
                this.$.loadLists.go();
                this.$.loadUserData.go();

                this.$.spinner.style.display = "flex";
                this.$.error_access.style.display = "none";

            },

            handleListResponse: function(event, data){
                this.data = [];
                var d = data.response[0];

                var i = 0;
                for(x in d){
                    if(d[x].isSessionTimeout){
                        i++;
                    }
                }

                if(i === 4){
                    this.$.error_access.style.display = "flex";
                }else{
                    this.data = d;
                }

                this.$.spinner.style.display = "none";
            },

            handleUserDataResponse: function(event, data){
                var user = data.response.result;
                var fab = this.$.paper_fab;

                if(user && user.personId !== 0 && user.personType !== 0){
                    fab.style.display = "block";
                    this.userData = user;
                }else{
                    fab.style.display = "none";
                }
            },

            titleToString: function(title){
                if(title === "IDC_KLASSE") return "Class";
                if(title === "IDC_LEHRER") return "Teacher";
                if(title === "IDC_RAUM") return "Room";
                if(title === "IDC_FACH") return "Subject";
            },

            elementSelected: function(e,f,g){
                var elementType = g.attributes["data-elementtype"].value
                var element = JSON.parse(g.attributes["data-element"].value)
                console.log(element);
                this.fireEvent(element.id, elementType, element.name, this.loginSet)
            },

            personalTimetableSelected: function(){
                this.fireEvent(this.userData.personId, this.userData.personType, "Personal Timetable", this.loginSet);
            },

            stringify: function(obj){
                return JSON.stringify(obj);
            },

            fireEvent: function(elementId, elementType, elementName, loginData){
                var event = {
                    "elementId": elementId,
                    "elementType": elementType,
                    "elementName": elementName,
                    "loginData": loginData
                }
                this.fire("element-selected", event);
            }

        });
    </script>

</polymer-element>