@()

<link rel="import" href="@routes.Assets.at("polymer/bower_components/polymer/polymer.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-input/paper-input-decorator.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-button/paper-button.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/core-ajax/core-ajax.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-shadow/paper-shadow.html")">
<polymer-element name="school-login" constructor="SchoolLogin" attribute="school">
    <template>
        <style>
            :host {
                display: block;
                padding: 8px;
                position: relative;
                /*background-color: #E5E5E5;*/
                overflow: auto;
            }

            .card{
                margin: 8px;
                font-size: 14px;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 8px;
                padding-top: 8px;
                /*background: #fff;*/
                line-height: 1.5;
            }

            .cardhead{
                font-size: 24px;
                color: #FF9800;
                margin-bottom: 8px;
            }

            paper-ripple {
                color: #FF9800;
            }

        </style>


        <div layout horizontal around-justified>

            <paper-shadow class="card" z="1" >
                <div class="cardhead">
                    Login
                </div>
                <div layout center class="card">
                    <paper-input-decorator label="Username" flex floatingLabel="true" id="usernameDec">
                        <input id="username" is="paper-input">
                    </paper-input-decorator>
                    <paper-input-decorator label="Password" flex floatingLabel="true" id="passwordDec">
                        <input id="password" is="paper-input" type="password">
                    </paper-input-decorator>

                    <paper-button on-tap="{{loadLists}}" raised>Login</paper-button>
                </div>
            </paper-shadow>

            <paper-shadow class="card" z="1" >
                <div class="cardhead">
                    {{school.displayName}}
                </div>

                <div>
                    {{school.address}} <br>
                    {{school.server}} <br>
                    {{school.loginName}}
                </div>
            </paper-shadow>
        </div>

    </template>

    <script>
        Polymer("school-login", {

            school: null,

            stringify: function(obj){
                return JSON.stringify(obj);
            },

            loadLists: function(){
                var user = this.$.username.value;
                var pass = this.$.password.value;

                this.school.user = user;
                this.school.password = pass;

                this.fire("login", this.school)
            }


        });
    </script>

</polymer-element>