@()

<link rel="import" href="@routes.Assets.at("polymer/bower_components/polymer/polymer.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-input/paper-input-decorator.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-icon-button/paper-icon-button.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/core-ajax/core-ajax.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-shadow/paper-shadow.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-ripple/paper-ripple.html")">

<polymer-element name="school-search" constructor="SchoolSearch">
    <template>
        <style>
            :host {
                display: block;
                padding: 8px;
                position: relative;
                /*background-color: #E5E5E5;*/
                overflow: auto;
            }

            .subcard{
                margin: 8px;
                font-size: 14px;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 8px;
                padding-top: 8px;
                background: #fff;
                line-height: 1.5;
            }
            .subcardhead{
                font-size: 18px;
                color: #FF9800;
                margin-bottom: 8px;
            }
            paper-ripple {
                color: #FF9800;
            }


        </style>

        <div layout horizontal center>
            <paper-input-decorator label="School Search" flex floatingLabel="true" id="searchParamsDec">
                <input id="searchParams" is="paper-input" on-keypress="{{keypressHandler}}">
            </paper-input-decorator>

            <paper-icon-button icon="search" on-tap="{{search}}" />
        </div>

        <div horizontal layout wrap around-justified id="resultbox">
            <template repeat="{{school in schools}}">

                    <paper-shadow class="subcard" on-tap="{{onSchoolSelected}}" data-school="{{stringify(school)}}" z="1">
                        <div class="subcardhead">
                            {{school.displayName}}
                        </div>

                        <div>
                            {{school.address}} <br>
                            {{school.server}} <br>
                            {{school.loginName}}
                        </div>
                        <paper-ripple fit></paper-ripple>
                    </paper-shadow>


            </template>
        </div>

        <core-ajax
            id="ajax"
            url="/search?searchParam="
            method="post"
            handleAs="json"
            on-core-response="{{handleResponse}}"></core-ajax>

    </template>

    <script>
        Polymer("school-search", {

            schools: [],

            search: function() {
                var query = this.$.searchParams.value

                this.$.ajax.url = "/js/search?q=" + encodeURIComponent(query);
                this.$.ajax.go();
            },

            keypressHandler: function(event, detail, handler){
                if(event.keyCode === 13){
                    this.search();
                }
            },

            handleResponse: function(event, data){
                console.log(data);
                if(data.response.result){
                    this.schools = data.response.result.schools;
                    this.$.searchParamsDec.label = this.schools.length + " matches";
                }else{
                    this.schools = [];
                    this.$.searchParamsDec.label =  data.response.error.message;
                }
            },

            onSchoolSelected: function(e,f,g){
                var school = g.attributes["data-school" ].value;
                this.fire("schoolSelected", school);
            },

            stringify: function(obj){
                return JSON.stringify(obj);
            }

        });
    </script>

</polymer-element>