@()

<link rel="import" href="@routes.Assets.at("polymer/bower_components/polymer/polymer.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-input/paper-input-decorator.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-icon-button/paper-icon-button.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/core-ajax/core-ajax.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-shadow/paper-shadow.html")">
<link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-ripple/paper-ripple.html")">

<polymer-element name="submit-config" constructor="SubmitConfig">
    <template>
        <style>
        :host {
            display: block;
            padding: 8px;
            position: relative;
            /*background-color: #E5E5E5;*/
        }

        .card{
            margin: 8px;
            font-size: 14px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 8px;
            padding-top: 8px;
            background: #fff;
            line-height: 1.5;

            /*height: 200px;*/
        }
        .cardhead {
            font-size: 18px ;
            color: #FF9800 ;
            margin-bottom: 8px ;
        }
        .timetablehead {
            font-size: 18px ;
            color: #FF9800 ;
        }
        paper-ripple {
            color: #FF9800;
        }

        #fabSubmit{
            background-color: #FF9800;
        }

        #spinner {
            background: rgba(255, 255, 255, 0.8);
            display: none;
        }

        </style>

        <paper-shadow class="card" z="1" >
            <table>
                <div horizontal layout center center-justified fit id="spinner">
                    <paper-spinner active></paper-spinner>
                </div>
                <div horizontal layout center center-justified fit id="error_access" style="display: none;background: rgba(255, 255, 255, 0.8);">
                    <span class="cardhead">Error :(</span>
                </div>

                <tr>
                    <td width="100px;">Element:</td>
                    <td class="timetablehead">{{config.elementName}} ({{config.elementId}}/{{config.elementType}})</td>
                </tr>
                <tr>
                    <td>School:</td>
                    <td class="timetablehead">{{config.loginData.displayName}}</td>
                </tr>
                <tr>
                    <td>Server:</td>
                    <td class="timetablehead">{{config.loginData.server}}</td>
                </tr>
                <tr>
                    <td>Login:</td>
                    <td class="timetablehead">{{config.loginData.loginName}}</td>
                </tr>
                <tr>
                    <td>User:</td>
                    <td class="timetablehead">{{config.loginData.user}}</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td class="timetablehead">{{config.loginData.password | passwd}}</td>
                </tr>
            </table>

            <div flex horizontal end-justified layout end>
                <paper-fab id="fabSubmit" icon="check" on-tap="{{addConfig}}" />
            </div>

        </paper-shadow>


        <core-ajax
            id="ajax"
            url=""
            method="post"
            on-core-response="{{handleResponse}}"></core-ajax>

    </template>

    <script>
    Polymer("submit-config", {

        config: null,

        setData: function(config){
            this.config = config;
            console.log(config);
        },


        addConfig: function(){
            console.log(this.config);
            if(this.config){
                var ei = this.config.elementId;
                var et = this.config.elementType;
                var se = this.config.loginData.server;
                var u = this.config.loginData.user;
                var p = this.config.loginData.password;
                var sc = this.config.loginData.loginName;

                var url = "/js/addConfig?" +
                    "ei=" + encodeURIComponent(ei) +
                    "&et=" +  encodeURIComponent(et) +
                    "&se=" +  encodeURIComponent(se) +
                    "&u=" +  encodeURIComponent(u) +
                    "&p=" +  encodeURIComponent(p) +
                    "&sc=" +  encodeURIComponent(sc);

                console.log(url);

                this.$.spinner.style.display = "flex";
                this.$.ajax.url = url;
                this.$.ajax.go();
            }
        },

        handleResponse: function(event, data){
            if(data.xhr.status === 200){
                window.location = "/user";
            }else{
                this.$.spinner.style.display = "none";
                this.$.error_access.style.display = "flex";
            }
        },

        passwd: function(p){
            if(p && p.length > 0){
                    return "***";
                }else{
                    return "";
                }
            }

    });
    </script>

</polymer-element>