@(form: Form[(String, String)])
@implicitField = @{ views.html.helper.FieldConstructor(views.html.fieldconstructor.polymer.f) }


@main(implicit handler: views.html.helper.FieldConstructor) = {
    @helper.form(action = routes.AuthController.authenticate, 'id -> "uform") {
        <div vertical layout class="upage">
            @helper.inputText(form("Email"))
            @helper.inputPassword(form("Password"))

            <div flex horizontal end-justified layout end>
                <button type="submit" is="paper-fab-submit" />
            </div>

        </div>
    }
}
@main