@(userForm: Form[(String, String, String)])
@import helper._
@implicitField = @{ views.html.helper.FieldConstructor(views.html.fieldconstructor.polymer.f) }

@assets = {
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/re-captcha/re-captcha.html")">
}

@main(implicit handler: views.html.helper.FieldConstructor) = {
    @helper.form(action = routes.UserController.validateCreateUserForm(), 'id -> "uform") {
        <div vertical layout class="upage">
            @helper.inputText(userForm("Email"),                'tabindex -> 1)
            @helper.inputPassword(userForm("Password"),         'tabindex -> 2)
            @helper.inputPassword(userForm("Re-enter password"),'tabindex -> 3)

            <br />
            <re-captcha sitekey="6LeVcgITAAAAAMsIY-AhpnIC2YGCd7QBO9e2lgSH"></re-captcha>

            <div flex horizontal end-justified layout end>
                <button type="submit" is="paper-fab-submit" />
            </div>

        <div>
    }
}


@assets
@main