@(createUserForm: Form[(String, String, String)], loginForm: Form[(String, String)], tab: Int = 0)

@assets = {
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-tabs/paper-tabs.html")">
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/core-pages/core-pages.html")">

    <link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-input/paper-input-decorator.html")">
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-button/paper-button.html")">

    <polymer-element name="paper-button-submit" extends="button" noscript>
        <template>
            <style>
            :host {
            border: 0;
            background: transparent;
            padding: 0;
            font-size: inherit;
            }
            </style>
            <paper-button raised>
                <content></content>
            </paper-button>
        </template>
    </polymer-element>


    <style>

        .ucontainer {
        }
        .upage{
            height: 400px;
            width: 400px;
        }

        paper-tabs::shadow #selectionBar {
            background-color: #FF9800;
        }

        paper-tabs paper-tab::shadow #ink {
            color: #FF9800;
        }

    </style>

}

@main("User", assets){

    <div class="ucontainer">
        <paper-tabs selected="@tab">
            <paper-tab inline flex center-center horizontal layout>Login</paper-tab>
            <paper-tab inline flex center-center horizontal layout>Create User</paper-tab>
        </paper-tabs>

        <core-pages class="upage" selected="@tab" transitions="slide-up">
            <section>
                <div>
                    @user.login(loginForm)
                </div>
            </section>
            <section>
                <div>
                    @user.register(createUserForm)
                </div>
            </section>
        </core-pages>
    </div>


    <script>
        var tabs = document.querySelector('paper-tabs');
        var pages = document.querySelector('core-pages');

        tabs.addEventListener('core-select',function(){
        pages.selected = tabs.selected;
        });
    </script>
}