@(createUserForm: Form[(String, String, String)], loginForm: Form[(String, String)], tab: Int = 0)


@assets = {
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-tabs/paper-tabs.html")">
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/core-pages/core-pages.html")">

    <link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-input/paper-input-decorator.html")">
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-button/paper-button.html")">
    <link rel="import" href="@routes.Assets.at("polymer/bower_components/paper-fab/paper-fab.html")">

    <polymer-element name="paper-fab-submit" extends="button" noscript>
        <template>
            <style>
            :host {
                border: 0;
                background: transparent;
                padding: 0;
                font-size: inherit;
            }
            #paper_fab {
                background-color: rgb(253, 167, 41);
            }
            </style>

            <paper-fab id="paper_fab" icon="check" raised>
                <content></content>
            </paper-fab>

        </template>
    </polymer-element>


    <style>

    .ucontainer {
    }
    .upage{
        /*width: 450px;*/
        height: 400px;
    }

    paper-tabs::shadow #selectionBar {
        background-color: #FF9800;
    }

    paper-tabs paper-tab::shadow #ink {
        color: #FF9800;
    }
    .uform{
        position: absolute;
        top:0;right:0;bottom:0;left:0;
    }

    </style>

}

@menu = {
}

@indexAnonym("Login", assets, menu, 1){


    <div class="ucontainer">
        <paper-tabs selected="@tab">
            <paper-tab inline flex center-center horizontal layout>Login</paper-tab>
            <paper-tab inline flex center-center horizontal layout>Create User</paper-tab>
        </paper-tabs>

        <core-pages class="upage" selected="@tab">
            <div>
                @views.html.user.login(loginForm)
            </div>
            <div>
                @views.html.user.register(createUserForm)
            </div>
        </core-pages>
    </div>


    <script>
        var tabs = document.querySelector('paper-tabs');
        var pages = document.querySelector('core-pages');

        tabs.addEventListener('core-select',function(){
            pages.selected = tabs.selected;
        });
    </script>
}
