@(title: String, assets: Html, menu: Html, user: model.UiUser, selectedMenuItem: Int)(content: Html)

@a = {
    @assets
}

@m = {
    <paper-item>
        <a href="@routes.HomeController.index()">
            Home
        </a>
    </paper-item>
    <paper-item>
        <a href="@routes.UserController.start()">
            User Area
        </a>
    </paper-item>
    <paper-item>
        <a href="@routes.UserController.addConfig()">
            Add an account
        </a>
    </paper-item>
    @menu
}

@index(title, a, m, selectedMenuItem){
    @content
}